economics/.gitignore
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1
.metadata/.plugins/org.eclipse.core.resources/.history/10/3096cdab8a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/10/a0fde53c828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/10/c059f4405d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/12/c0dceaea758d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/12/e08bd2015d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/15/d05195707a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/17/40e09aec818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/19/e087a741838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/1a/50221fff758d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/1c/4063e7ca888d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/1e/6065e5c4698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/1f/90b35bea5e8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/22/a016f1e9798d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/23/6081a2ce868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/24/80aa149a828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/25/c02f5d0b868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/27/30af7efd698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/28/005dd43b768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/28/00d1bdab858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/28/d07f579d8a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/29/00cd4d02768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/2a/e0d2372d768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/2c/10508bbe848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/2c/d0899d16768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/2e/70229e1b838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/2e/a07e42a37a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3/e0ffff8e888d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/33/5067cfb7818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/33/a0230351808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/36/608e25b0798d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/37/10de0b77868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/37/a0fef072868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3b/50c9a1af828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3d/2004995d878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3f/10614f54838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3f/80253e3e808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/3f/8045b5c9808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4/80ec8708828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/42/30dac9255d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/43/006f1028828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/43/406ac02a768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/45/30ea89686d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/46/a0ca34c5798d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/48/20356238808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/48/7099bb2e868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/49/80133540808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4a/20f7b66b818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4c/90757111838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4c/b041bb31828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4e/70d53066618d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4f/301665d25b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/4f/8016ccb7828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/5/a08e237f7b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/50/40969649828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/50/90c051a27b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/50/d07022d0698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/55/5028ae8d848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/56/708f6d42618d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/5b/b0c2019d5e8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/5c/0054e5e0828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/5f/309ea422858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/60/003d8d5a828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/64/700f4507868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/65/a0b02f2f898d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/66/8042ac22898d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/6e/0053ba3e838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/6f/f09a9833878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/7/40a037346a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/75/40dffc65848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/7b/a0902862828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/7e/301939d0818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/80/a0e56123838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/80/d04f4f17858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/80/d08b0b92808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/83/00f60980868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/85/400d8bf6698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/86/90464eeb828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/88/1063423c608d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/89/000487686d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/89/5049b78f858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8d/40355a1b7b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8d/f015da4a868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8e/20f6ef606d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8e/60669aa8848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8e/60ef2f347b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8f/2038d870838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/8f/c04ae316898d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9/10d7464c5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9/500edbaf6d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9/6049f32f768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/90/e0787b6e828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/94/107a784f828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/94/a0b3315d838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/94/b04d8346808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/95/20d905085f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9a/b0ab3de0698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9b/f04c2ca47b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9e/d07bb7d1818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/9f/b05f3edb698d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a/506369c4848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a1/20184d18828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a2/10b8005c5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a2/9068b548838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a2/90f848bf758d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a4/c0ddc13a858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a6/207e62d25b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/a7/f0ee7b286a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ab/2085694d5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ad/a0cf2baf7a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ae/40024850868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b/0075e29d7a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b1/50c3d2fc5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b3/d05a931f6a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b4/2017473d878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b6/2026cd805e8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b6/f05fcb015d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b7/50f2ec13828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b7/904357fa818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/b9/0069d0015d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/bb/606ec0b58a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/bd/109a72aa8a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/bf/1096dc5f888d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/bf/f0497483618d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c1/00f7d364818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c4/11959695858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c5/40e16cff828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c5/c02dc5a2798d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c7/80da4bc2848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c8/00fa73a8818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c8/10efb0105f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/c9/004e41d06a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ca/10587855808d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/cb/f00be084828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/cc/808e917f828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/cd/f02257f7818d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ce/10d24b3d878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ce/d0d10642768d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d/200d02bc848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d/b00b08cf5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d0/b09da1fb5c8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d1/a094c28e7b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d2/804d1f37838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d3/1078cb5d828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d3/10f5f35c888d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d4/40c7b624838d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d6/e0de6f6a868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d7/30bf8064878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d8/10959695858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/d9/00c1ef0c628d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/dc/00001831868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/df/c0fa84b5848d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e1/007b324c7b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e1/c0d888686d8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e5/2088493d878d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e5/30dc6a35828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e5/700e9595858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/e5/90ae926e7b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/eb/50f26a6a858d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/eb/b0e0c3367b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ed/9020d4c66a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ee/30ef6fc2828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/ee/40ee14a87a8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f/204652e05e8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f0/30def9fd5f8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f1/70584b29608d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f1/a061f3a3868d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f4/70ee32047b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f6/801c9c2d828d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f6/d02b64d25b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/f9/b062a4927b8d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.history/fa/506c6264888d00171a3195763e902ad9
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/3b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/3b/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/7e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/b1/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/22/eb/73/1e/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/e4/b9/db/9b/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/economics/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.logging.aeri.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.core/1144886424.index
.metadata/.plugins/org.eclipse.jdt.core/1439045674.index
.metadata/.plugins/org.eclipse.jdt.core/1477788888.index
.metadata/.plugins/org.eclipse.jdt.core/148409970.index
.metadata/.plugins/org.eclipse.jdt.core/1484906476.index
.metadata/.plugins/org.eclipse.jdt.core/1689259093.index
.metadata/.plugins/org.eclipse.jdt.core/194259052.index
.metadata/.plugins/org.eclipse.jdt.core/2272273464.index
.metadata/.plugins/org.eclipse.jdt.core/2470519452.index
.metadata/.plugins/org.eclipse.jdt.core/2643185716.index
.metadata/.plugins/org.eclipse.jdt.core/2709225165.index
.metadata/.plugins/org.eclipse.jdt.core/3141958188.index
.metadata/.plugins/org.eclipse.jdt.core/3253271684.index
.metadata/.plugins/org.eclipse.jdt.core/3489021301.index
.metadata/.plugins/org.eclipse.jdt.core/3492913180.index
.metadata/.plugins/org.eclipse.jdt.core/3620471903.index
.metadata/.plugins/org.eclipse.jdt.core/3666609613.index
.metadata/.plugins/org.eclipse.jdt.core/3698447926.index
.metadata/.plugins/org.eclipse.jdt.core/4265864773.index
.metadata/.plugins/org.eclipse.jdt.core/559129880.index
.metadata/.plugins/org.eclipse.jdt.core/628019425.index
.metadata/.plugins/org.eclipse.jdt.core/648612256.index
.metadata/.plugins/org.eclipse.jdt.core/748183875.index
.metadata/.plugins/org.eclipse.jdt.core/848469205.index
.metadata/.plugins/org.eclipse.jdt.core/922380862.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/economics/2017/8/35/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/economics/2017/8/35/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/economics.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_2
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/_a.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/_a_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/_b.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/segments_c
.metadata/.plugins/org.eclipse.m2e.core/nexus/9cc67e8a947017b4201100f503b531d4/write.lock
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.jdt/economics.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.pde.core/.local_targets/1504087676798.target
.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wb.core/descriptions/org.eclipse.wb.swing.cached-presentations.dat
.metadata/.plugins/org.eclipse.wb.core/dialog_settings.xml
.metadata/.plugins/org.eclipse.wb.core/palettes/org.eclipse.wb.swing.commands
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.lock
.metadata/.log
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/version.ini
.recommenders/caches/identified-project-coordinates.json
.recommenders/caches/manual-mappings.json
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fnm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen
